{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="text-center" style="margin-top: 40px;">
    <img src="{% static 'img/lakeland.png' %}" alt="Lakeland Airways" height="40px;">
    <h5 style="margin-top: 10px; color: grey;">
    AirMOS Reservation and Ticket Issuing System
    </h5>
</div>

<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link rtis-button active" id="pills-flight-search-tab" data-toggle="pill" 
                href="#flight-search" role="tab" 
                aria-controls="pills-flight-search" aria-selected="true">Ticket Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link rtis-button" id="pills-reservation-tab" data-toggle="pill" 
                href="#reservation" role="tab" 
                aria-controls="pills-reservation" aria-selected="false">Ticket Reservation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link rtis-button" id="pills-purchase-tab" data-toggle="pill" 
                href="#purchase" role="tab" 
                aria-controls="pills-purchase" aria-selected="false">Ticket Purchase</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="flight-search" 
            role="tabpanel" aria-labelledby="pills-flight-search-tab">
            <div class="container">
                <div id="reservation-form">
                    <form class="rtis-form">
                        <h6>Reserve Flight Ticket</h6>
                        <div class="form-group row" style="margin-left: 10px;">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Return</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">One-way</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Multi-way</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 mb-3">
                                <label for="validationDefault01">Departure Point</label>
                                <input type="text" class="form-control" id="validationDefault01" 
                                    placeholder="Departure Point" required>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="validationDefault02">Arrival Point</label>
                                <input type="text" class="form-control" id="validationDefault02" 
                                    placeholder="Arrival Point" required>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="validationDefault03">Departure Date</label>
                                <input type="date" class="form-control" id="validationDefault03" value="Otto" required>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="validationDefault04">Arrival Date</label>
                                <input type="date" class="form-control" id="validationDefault04" value="Otto" required>
                              </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mb-3">
                                <label for="validationDefault05">Passengers</label>
                                <input type="number" class="form-control" id="validationDefault05" 
                                    placeholder="1" required>
                              </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-info">Search Flights</button>
                        </div>
                    </form>
                </div>

                <div id="flight-options-container">
                    <h6 style="margin-left:20px; margin-top:20px;">Flight Options</h6>
                    <div class="row date-options" style="padding: 20px;">
                        <div class="col">
                            <button class="btn date-btn">Sun, May 30</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn">Mon, May 31</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn active">Tue, June 1</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn">Wed, June 2</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn">Thu, June 3</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn">Fri, June 4</button>
                        </div>
                        <div class="col">
                            <button class="btn date-btn">Sat, June 5</button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-5">Departure</div>
                        <div class="col"></div>
                        <div class="col-6">
                            <div class="row" id="ticket-class">
                                <div class="col">
                                    <div class="ticket-option">Promo</div>
                                </div>
                                <div class="col">
                                    <div class="ticket-option">Economy</div>
                                </div>
                                <div class="col">
                                    <div class="ticket-option">Business</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row flight-results">
                        <div class="col-5 ticket-time">
                            LA787 <br>
                            05:00 <br>
                            Total Seats Available: N <br>
                        </div>
                        <div class="col"></div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                    </div>

                    <div class="row flight-results">
                        <div class="col-5 ticket-time">
                            LA789 <br>
                            17:00 <br>
                            Total Seats Available: N <br>
                        </div>
                        <div class="col"></div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                        <div class="col-2 ticket-base">
                            Ticket Base YAP7
                            Ticket Price
                            <button class="btn btn-sm reserve-btn">Reserve Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="reservation" 
            role="tabpanel" aria-labelledby="pills-reservation-tab">
            <div class="container">
                <form id="reserve-form">
                    <div class="form-group row">
                        <label for="reservation-id" class="col-sm-3 col-form-label">Reservation ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reservation-id"
                            value="LARES123478">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 reservation-summary-detail">
                            <div class="text-center">Departure</div>
                            Airport: <br>
                            Date & Time: <br>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4 reservation-summary-detail">
                            <div class="text-center">Arrival</div>
                            Airport: <br>
                            Date & Time: <br>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <hr>
                    <h6>Passenger Details</h6>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Passenger Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name"
                            placeholder="Passenger Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact" class="col-sm-3 col-form-label">Contact Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contact"
                            placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email Address</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email"
                            placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="memberid" class="col-sm-3 col-form-label">Club Member ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="memberid"
                            placeholder="Premier Club Member ID">
                        </div>
                    </div>

                    <hr>
                    <div>
                        <h6>Additional Options</h6>
                        <div class="row">
                            Add Seat
                            <br>
                            <img src="{% static 'img/seatmap.png' %}" alt="airbus" width="100%">
                            <br>
                            <br>
                            <div>
                                Selected Seat:
                                <span class="dummyvalue">21B</span>
                                <br>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-secondary">Reserve Seat</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            Add Meal
                            <br>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col meal-option" >
                                    Meal 1: Standard<br>
                                    Chicken<br>
                                    Rice<br>
                                    Bread<br>
                                    <button type="submit" class="btn btn-sm btn-secondary">Reserve Meal</button>
                                </div>
                                <div class="col meal-option">
                                    Meal 2: Vegan<br>
                                    Vegan pesto<br>
                                    Fresh berries<br>
                                    Bagel & Jelly<br>
                                    <button type="submit" class="btn btn-sm btn-secondary">Reserve Meal</button>
                                </div>
                                <div class="col meal-option">
                                    Meal 3: Fat Free<br>
                                    Chicken biryani<br>
                                    Dried Fruits<br>
                                    Bread<br>
                                    <button type="submit" class="btn btn-sm btn-secondary">Reserve Meal</button>
                                </div>
                                <div class="col meal-option">
                                    Meal 4: Kosher<br>
                                    Beef Raviolo<br>
                                    Apricot Yogurt<br>
                                    Potatoes<br>
                                    <button type="submit" class="btn btn-sm btn-secondary">Reserve Meal</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row text-center" style="margin-top: 10px;">
                        <div class="col">
                            <button type="submit" class="btn btn-info">Confirm & Hold Reservation</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-info">Confirm & Proceed to Payment</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="purchase" 
            role="tabpanel" aria-labelledby="pills-purchase-tab">
            <div class="container">
                <div id="flight-summary">
                    <h5>Flight Summary</h5>
                    <br>
                    <div class="form-group row">
                        <label for="reservation-id" class="col-sm-3 col-form-label">Reservation ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="reservation-id"
                            value="LARES123478">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4 reservation-summary-detail">
                            <div class="text-center">Departure</div>
                            Airport: <br>
                            Date & Time: <br>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4 reservation-summary-detail">
                            <div class="text-center">Arrival</div>
                            Airport: <br>
                            Date & Time: <br>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>

                <div id="payment-summary">
                    <div class="row">
                        <div class="col-5 text-center">
                            <h5>Premier Club Membership</h5>
                            <br>
                            <div class="form-group">
                                <label for="member_id">Club Member ID</label>
                                <input type="text" class="form-control" id="member_id" 
                                    placeholder="7891">
                              </div>
                            Available Miles Points: 
                            <span class="dummyvalue" style="font-size: larger;">45</span>
                            <br>
                            <br>
                            <button class="btn btn-info">Credit From Miles</button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h5>Payment Summary</h5>
                            <br>
                            Fare: <span class="dummyvalue">EUR 00.00</span><br>
                            Taxes: <span class="dummyvalue">EUR 00.00</span><br>
                            Total OB Fees: <span class="dummyvalue">EUR 00.00</span><br>
                            Fee: <span class="dummyvalue">EUR 00.00</span><br><br>
                            <span style="font-size: larger;">
                                Total Amount: <span class="dummyvalue">EUR 00.00</span>
                            </span>
                        </div>
                    </div>
                </div>
    
                <div id="payment-method">
                    <h5>Process Payment</h5>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h6>Invoice</h6>
                            <br>
                            <button class="btn btn-info">
                                Generate Sales Invoice
                            </button>
                            <br>
                            <span class="dummyvalue">InvoiceNumber</span>
                        </div>
                        <div class="col">
                            <h6>Payment Method</h6>
                                <div class="form-group row" style="margin-left: 10px;">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="card" name="card" class="custom-control-input">
                                        <label class="custom-control-label" for="card">Card</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="cash" name="cash" class="custom-control-input">
                                        <label class="custom-control-label" for="cash">Cash</label>
                                    </div>
                                </div>
                            <button class="btn btn-info">
                                Process Payment
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center">
                    <button class="btn btn-info">
                        Complete Purchase & Issue Ticket
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
    
{% endblock content %}